@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}

body {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

}

#moviesCountersContainer {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.0px);
    -webkit-backdrop-filter: blur(8.0px);
    font-size: 20px;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10px;
}

.seenDiv {
    height: 100px;
    width: 100px;
    background-color: red;
    font-size: 32px;
    color: white;
}

.seenDiv:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}
